<section class="plan-filters">

  <%= form_tag plans_path, method: :get do %>

    <fieldset>
      <%= hidden_field_tag :zip_code, params[:zip_code] %>

      <legend>Filter Shipments</legend>

      <ol>
        <li>
          <%= label_tag :level %>
          <%= select_tag options_for_select(@levels) %>
        </li>
      </ol>

      <div class="form-actions">
        <input type="submit"  value="Filter">
      </div>

    </fieldset>

  <% end %>

</section>
