<% if @plans %>
  <table>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.name.titleize %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <% if params[:zip_code] %>
    <p>No plans found for that zip code </p>
  <% end %>

  <%= form_tag plans_path, method: :get %>
    <fieldset>
      <legend>Zip Code</legend>

      <%= text_field_tag :zip_code %>

      <div class="form-actions">
        <input type="submit" value="Go">
      </div>
    </fieldset>
  </form>
<% end %>
